.App {
  text-align: center;
}

.Nav {
  display: flex;
  justify-content: space-around;
  height: 5vh;
  border: solid 1px;
  align-items: center;
  background-color: rgba(82, 66, 187, 0.507);
}
.NavItem {
  color: aliceblue;
  text-decoration: none;
}
.header {
  margin: auto;
  text-align: center;
  width: fit-content;
  height: 15vh;
  align-items: center;
  border-bottom: solid;
}
.body {
  max-width: 100%;
  flex-wrap: wrap;
  align-self: stretch;
}
.todoList {
  margin-top: 15px;
  border: solid;
  width: 45vw;
  height: fit-content;
}
.header-todo {
  display: flex;
  justify-content: space-around;
  background-color: rgba(82, 66, 187, 0.507);
  color: aliceblue;
  }


.index {
  text-align: center;
}
.todo {
  display: flex;
  justify-content: space-around;
 
}
.body {
  display: flex;
  justify-content: space-around;
}
.descript {
  text-align:center ;
  margin-left: 40px;
  margin-right: 40px;

}
